{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.login_data.title'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-body p-4">
                    <h3 class="mb-4 text-dark fw-bold text-center">{{ 'admin.profile_data.title'|trans }}</h3>
                    {{ form_start(dataForm) }}

                    <div class="mb-3">
                        {{ form_label(dataForm.nickname, 'admin.login_data.nickname'|trans, {'label_attr': {'class': 'form-label text-dark'}}) }}
                        {{ form_widget(dataForm.nickname, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(dataForm.nickname) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(dataForm.email, 'admin.login_data.email'|trans, {'label_attr': {'class': 'form-label text-dark'}}) }}
                        {{ form_widget(dataForm.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(dataForm.email) }}
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">{{ 'admin.profile_data.submit'|trans }}</button>
                    </div>

                    {{ form_end(dataForm) }}
                </div>
            </div>


            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h3 class="mb-4 text-dark fw-bold text-center">{{ 'admin.change_password.title'|trans }}</h3>
                    {{ form_start(passwordForm) }}

                    <div class="mb-3">
                        {{ form_label(passwordForm.currentPassword, 'admin.login_data.current_password'|trans, {'label_attr': {'class': 'form-label text-dark'}}) }}
                        {{ form_widget(passwordForm.currentPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(passwordForm.currentPassword) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(passwordForm.newPassword, 'admin.login_data.new_password'|trans, {'label_attr': {'class': 'form-label text-dark'}}) }}
                        {{ form_widget(passwordForm.newPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(passwordForm.newPassword) }}
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">{{ 'admin.change_password.submit'|trans }}</button>
                    </div>

                    {{ form_end(passwordForm) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
