{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-4">{{ 'latest.title'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'latest.original_url'|trans }}</th>
            <th>{{ 'latest.short_code'|trans }}</th>
            <th>{{ 'latest.created_at'|trans }}</th>
            <th>{{ 'latest.clicks'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for url in pagination %}
            <tr>
                <td>{{ url.originalUrl }}</td>
                <td><code>{{ url.shortCode }}</code></td>
                <td>{{ url.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ url.clicks }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'latest.no_data'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
