{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4 text-secondary">{{ 'login.heading'|trans }}</h3>

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-info">
                            {{ 'login.already_logged_in'|trans({ '%email%': app.user.userIdentifier })|replace({ '[logout]': '<a href="' ~ path('app_logout') ~ '">wyloguj się</a>' })|raw }}

                        </div>
                    {% endif %}

                    <form method="post">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">{{ 'login.email'|trans }}</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">{{ 'login.password'|trans }}</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                        <div class="d-grid mt-4">
                            <button class="btn btn-primary btn-lg" type="submit">{{ 'login.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
